<%layout ('layouts/boilerplate') %>
    <div class='content-wrapper'>
        <div class='banner'>
            <!-- <img src='/images/main-banner.jpg' alt='barber shop image' /> -->
            <div class='image-container'>
                <div class='intro-text'>
                    <h1>Best Barbers in Town</h1>
                    <hr />
                    <h3>Treat yourself and your hair in our magnificent chain of barber shops located all around london
                    </h3>
                </div>
                <div class='scroll-down'>
                    <a href='#services'>
                        <h3>Scroll down</h3>
                    </a>
                    <h3 class='scroll-arrow'><span>></span></h3>
                </div>
            </div>

        </div>
        <main class='content'>
            <section id='services'>
                <h1>Treatments</h1>
                <div class='scissors-y-axis'><i class="fas fa-cut"></i></div>
                <div class='treatments-container'>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>The Cut</h2>
                            <h3>The classic wash & cut with expert styling</h3>
                            <p>Whether you know the look you desire or need some creative guidance, our master barbers
                                will
                                design and refine your hair with pinpoint precision. Our blades are as sharp as their
                                handlers, and believe us – there is nothing that they can’t handle.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>THE BEARD</h2>
                            <h3>The classic beard trim treatment</h3>
                            <p>The shape and sharpness of your beard, the freshness of your face and how it feels on
                                your
                                fingertips are all taken care of with this treatment. Your master barber will trim and
                                style
                                your beard, making sure to clean up any unsightly areas. A light lick of a flame will
                                emancipate your ears of unwanted hairs.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class='treatment-info'>
                            <h2>The Shave</h2>
                            <h3>The closest shave of your life!</h3>
                            <p>The master barber will get down to business here using traditional cut-throat razors
                                rendering an immaculate shave. Neck fluff will be vanquished, eyebrows trimmed, ears
                                flamed
                                and threading where required. This is topped off with an invigorating hot towel
                                treatment to
                                leave a smooth sensation upon your countenance.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                    <div class='treatment'>
                        <div class="treatment-info">
                            <h2>The Shape</h2>
                            <h3>Trim your beard back into shape!</h3>
                            <p>Our barbers know how important it is to keep your beard and stubble maintained. We will
                                razor
                                your neck and cheeks with artisan accuracy, flame your ears to singe the slightest of
                                hairs
                                and thread if required. The treatment is finished with a relaxing rinse and a reviving
                                hot
                                towel experience.</p>
                        </div>
                        <div class='divider'>
                            <i class="fas fa-cut"></i><i class="fas fa-cut"></i><i class="fas fa-cut"></i>
                        </div>
                        <div class='treatment-pricing'>
                            <h3 class='price'>Price from: <span>25$</span></h3>
                        </div>
                    </div>
                </div>
                <div class='scissors-x-axis'><i class="fas fa-cut"></i></div>
            </section>
            <section id='locations'>
                <h1>Locations</h1>
                <h2>Visit us at one of our branches across London</h2>
                <div id='map'></div>
                <div id='barber-shops'>
                    <% shops.map(shop=> { %>
                        <div class='shop'>
                            <h2>
                                <%= shop.name %>
                            </h2>
                            <h4>
                                <%= shop.address%>
                            </h4>
                            <h3>Price list:</h3>
                            <ul>
                                <li><i class="fas fa-cut scissors-price"></i>- The Cut: <%=shop.prices.cut%>$</li>
                                <li><i class="fas fa-cut scissors-price"></i>- The Beard: <%=shop.prices.beard%>$</li>
                                <li><i class="fas fa-cut scissors-price"></i>- The Shave: <%=shop.prices.shave%>$</li>
                                <li><i class="fas fa-cut scissors-price"></i>- The Shape: <%=shop.prices.shape%>$</li>
                            </ul>
                            <a class='shop-link' href='#'>View Shop</a>
                        </div>
                        <%})%>
                </div>
            </section>
        </main>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const data = '<%- JSON.stringify(shops) %>';
    </script>
    <script src='/js/map.js'></script>