<%layout ('layouts/boilerplate') %>
    <div class='edit-shop'>
        <h1>Edit <%=requestedShop.name%>
        </h1>
        <form id='edit-shop' action='/shop/<%=requestedShop._id%>?_method=PUT' method='POST'>
            <h2>Shop info</h2>
            <div>
                <label for='name'>Shop name:</label>
                <input type='text' id='name' name='shop[name]' value='<%=requestedShop.name%>'
                    placeholder='Enter shop name' required />
            </div>
            <div>
                <label for='address'>Shop address:</label>
                <input type='text' id='address' name='shop[address]' value='<%=requestedShop.address%>'
                    placeholder='Enter shop address' required />
            </div>
            <h2>Prices for services</h2>
            <div>
                <label for='cut'>Cut price:</label>
                <input type='number' id='cut' name='shop[prices][cut]' value='<%=requestedShop.prices.cut%>'
                    placeholder='Enter price for a cut' />
            </div>
            <div>
                <label for='beard'>Beard price:</label>
                <input type='number' id='beard' name='shop[prices][beard]' value='<%=requestedShop.prices.beard%>'
                    placeholder='Enter price for a bear' />
            </div>
            <div>
                <label for='shave'>Shave price:</label>
                <input type='number' id='shave' name='shop[prices][shave]' value='<%=requestedShop.prices.shave%>'
                    placeholder='Enter price for a shave' />
            </div>
            <div>
                <label for='shape'>Shape price:</label>
                <input type='number' id='shape' name='shop[prices][shape]' value='<%=requestedShop.prices.shape%>'
                    placeholder='Enter price for a shape' />
            </div>
            <div>
                <button type='submit'>Edit Shop</button>
            </div>
        </form>
        <div>
            <a class='link-back' href='https://quiet-anchorage-25973.herokuapp.com/'>Go Back</a>
        </div>
    </div>