<%layout ('layouts/boilerplate') %>
    <div class='view-shop'>
        <h1>
            <%=shop.name%>
        </h1>
        <div id='view-shop'>
            <h2 class='view-shop-header'>Location</h2>
            <div id='map'></div>
            <p id='shop-address'>
                <%= shop.address %>
            </p>
            <div class='view-shop-prices'>
                <h2 class='view-shop-header'>Price list</h2>
                <ul class='price-list'>
                    <li>
                        The Cut: <%=shop.prices.cut%>$
                    </li>
                    <li>
                        The Beard: <%=shop.prices.beard%>$
                    </li>
                    <li>
                        The Shave: <%=shop.prices.shave%>$
                    </li>
                    <li>
                        The Shape: <%=shop.prices.shape%>$
                    </li>
                </ul>
            </div>
            <div id='view-shop-control-buttons'>
                <div id='shop-edit'>
                    <a href='/shop/<%=shop._id%>/edit'>Edit</a>
                </div>
                <form id='shop-delete' action='/shop/<%=shop._id%>?_method=DELETE' method='POST'>
                    <button type='submit'>Delete</button>
                </form>
            </div>
        </div>
        <div>
            <a class='link-back' href='https://quiet-anchorage-25973.herokuapp.com/'>Go Back</a>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const data = '<%- JSON.stringify(shop) %>';
    </script>
    <script src='/js/map.js'></script>