<%layout ('layouts/boilerplate') %>
    <div class='create-shop'>
        <div>
            <h1>
                <%=shop.name%>
            </h1>
        </div>
        <div id='create-shop'>
            <div class='section-description'>
                <h2>Location</h2>
                <div id='map'></div>
            </div>
            <div class='section-description'>
                <p>
                    <%= shop.address %>
                </p>
            </div>
            <div class='section-description'>
                <h2>Price list</h2>
                <ul class='price-list'>
                    <li>
                        The Cut: <%=shop.prices.cut%>$
                    </li>
                    <li>
                        The Beard: <%=shop.prices.beard%>$
                    </li>
                    <li>
                        The Shave: <%=shop.prices.shave%>$
                    </li>
                    <li>
                        The Shape: <%=shop.prices.shape%>$
                    </li>
                </ul>
            </div>
            <div id='shop-buttons'>
                <div id='shop-edit'>
                    <a href='/shop/<%=shop._id%>/edit'>Edit</a>
                </div>
                <form id='shop-delete' action='/shop/<%=shop._id%>?_method=DELETE' method='POST'>
                    <button type='submit'>Delete</button>
                </form>
            </div>
        </div>
        <div>
            <a href='http://localhost:3000'>Go Back</a>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const data = '<%- JSON.stringify(shop) %>';
    </script>
    <script src='/js/map.js'></script>
    </body>

    </html>